<div class="catalog">
    <div class="wrapper">
        <h2 class="catalog__title">Каталог продукции</h2>
        <div class="catalog__wrapper">
            <div class="product">
                <div class="product__image">
                    <img src="images/pics/product-1.jpg" alt="product">
                </div>
                <div class="product__text"></div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="images/pics/product-2.jpg" alt="product">
                </div>
                <div class="product__text"></div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="images/pics/product-3.jpg" alt="product">
                </div>
                <div class="product__text"></div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="images/pics/product-4.jpg" alt="product">
                </div>
                <div class="product__text"></div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="images/pics/product-5.jpg" alt="product">
                </div>
                <div class="product__text"></div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="images/pics/product-6.jpg" alt="product">
                </div>
                <div class="product__text"></div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="images/pics/product-7.jpg" alt="product">
                </div>
                <div class="product__text"></div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="images/pics/product-8.jpg" alt="product">
                </div>
                <div class="product__text"></div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="images/pics/product-9.jpg" alt="product">
                </div>
                <div class="product__text"></div>
            </div>
        </div>
        <div class="btn">
            <a href="">Показать еще</a>
        </div>
    </div>
</div>