<div class="menu">
   <div class="menu__close">
      <svg width="50" height="50" viewBox="0 0 54 54" fill="none" stroke="white" xmlns="http://www.w3.org/2000/svg">
         <path d="M52 2.00012L2 52.0001" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M2 2.00012L52 52.0001" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
   </div>
   <div class="menu__content">
      <ul class="menu__list">
         <li class="menu__item"><a href="#about-us" class="menu__link">О нас</a></li>
         <li class="menu__item"><a href="#catalog" class="menu__link">Наши товары</a></li>
         <li class="menu__item"><a href="#cooking" class="menu__link">Кулинария</a></li>
         <li class="menu__item"><a href="#review" class="menu__link">Отзывы</a></li>
         <li class="menu__item"><a href="#contacts" class="menu__link">Контакты</a></li>
      </ul>
   </div>
</div>