.cooking {
    background-color: $colorWhite;
    padding-bottom: 150px;
    .wrapper {

    }
    &__title {        
        span{
            position: relative;
            &:before{
                content: "";
                display: block;
                position: absolute;
                right: calc(100% + 35px);
                top: -20px;
                width: 104px;
                height: 104px;
                background-image: url(../images/icons/cooking.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__col {
        width: calc(50% - 20px);
    }
    &__descr {

    }
    &__sub-title {
        color: $colorBlack;
        font-family: $ffRaleway;
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 30px;
        margin-top: 20px;
        text-transform: uppercase;
    }
    &__text {
        color: $colorBlack;
        font-family: $ffRaleway;
        font-size: 20px;
        font-weight: 500;
        line-height: 36px;
    }
    &__image {
        border-radius: 20px;
        overflow: hidden;
        img{
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    &__slider {

    }
    &__item {

    }
}



@media screen and (max-width: 900px) {
    .cooking {
        padding-bottom: 50px;
        .wrapper {
    
        }
        &__title {        
            span{
                
                &:before{
                    right: calc(100% + 25px);
                    top: -15px;
                    width: 60px;
                    height: 60px;
                    display: none;
                }
            }
        }
        &__wrapper {
            flex-direction: column;
        }
        &__col {
            width: 100%;
        }
        &__descr {
    
        }
        &__sub-title {
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: 0;
            line-height: 28px;
        }
        &__text {
            font-size: 16px;
            line-height: 28px;
        }
        &__image {
            margin-top: 30px;
            img{
                
            }
        }
        &__img{
            display: inline-flex;
            overflow: hidden;
            border-radius: 20px;
        }
        &__slider {
    
        }
        &__item {
            display: flex;
            justify-content: center;
        }
    }
}