<div class="cooking" id="cooking">
    <div class="wrapper">
        <h2 class="cooking__title"><span>Кулинария</span></h2>
        <div class="cooking__wrapper">
            <div class="cooking__col cooking__descr">
                <div class="cooking__sub-title">Не просто рыба – а готовые блюда, созданные с заботой о вкусе и качестве!</div>
                <div class="cooking__text">Попробуйте наш ароматный рыбный суп, приготовленный по традиционному рецепту, или насладитесь нежными бутербродами с слабосоленым лососем.<br>Все блюда готовятся только из свежих ингредиентов и без добавления искусственных консервантов. Это быстрый и удобный способ попробовать что-то новое или побаловать себя любимыми морскими вкусами.</div>
            </div>
            <div class="cooking__col cooking__image">
                <div class="cooking__slider">
                    <div class="cooking__item">
                        <div class="cooking__image"><img src="images/pics/cooking/cooking-1.png" alt="cooking image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>