<div class="contacts" id="contacts">
    <div class="wrapper">
        <h2 class="contacts__title">Контакты</h2>
        <div class="contacts__inner">
            <div class="contacts__info">
                <div class="contacts__item">
                    <div class="contacts__sub-title">Адрес:</div>
                    <div class="contacts__text">
                        Itäkatu 1-7<br>Kerros 1<br>00930 Helsinki
                    </div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__sub-title">Телефон:</div>
                    <div class="contacts__text">
                        <a href="tel:" class="contacts__phone contacts__link">041 7264116</a>
                    </div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__sub-title">E-mail:</div>
                    <div class="contacts__text">
                        <a href="mailto:pavel@iperakennus.fi" class="contacts__address contacts__link">pavel@iperakennus.fi</a>
                    </div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__sub-title">Время работы:</div>
                    <div class="contacts__text">
                        <span>ПН – ПТ:</span>10:00-20:00<br>
                        <span></span>СБ:</span>10:00-19:00<br>
                        <span></span>Вс:</span>12:00-18:00
                    </div>
                </div>
                <div class="contacts__item contacts__socials">
                    <a href="" class="contacts__social"><img src="images/icons/socials/facebook.svg" alt="social"></a>
                    <a href="" class="contacts__social"><img src="images/icons/socials/instagram.svg" alt="social"></a>
                    <a href="" class="contacts__social"><img src="images/icons/socials/twitter.svg" alt="social"></a>
                    <a href="" class="contacts__social"><img src="images/icons/socials/telegram.svg" alt="social"></a>
                    <a href="" class="contacts__social"><img src="images/icons/socials/whatsapp.svg" alt="social"></a>
                </div>
            </div>
            <div class="contacts__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.1313886401647!2d25.080035877318668!3d60.211656740084685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920f2c75501e49%3A0x1b6ffa7cb1241bea!2sIt%C3%A4katu%201-7%2C%2000930%20Helsinki!5e0!3m2!1sru!2sfi!4v1742748034865!5m2!1sru!2sfi" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>