<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="data/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Title</title>

    <meta name="description" content="description" />
</head>
<body>

<header class="header">
    <div class="wrapper">
        <div class="header__phone">
            <a href="tel:041 7264116" class="phone">041 7264116</a>
        </div>
        <div class="header__logo">
            <a href="" class="logo">
                <img src="images/pics/logo.png" alt="logo">
            </a>
        </div>
        <div class="header__menu">
            <a href="javascript:void(0);" class="lang">FI</a>
            <a href="javascript:void(0);" class="burger__link">
                <!-- <img src="images/icons/burger.png" alt="menu icon"> -->
                <svg width="60" height="34" viewBox="0 0 60 34" fill="none" stroke="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.36963 2H57.8696M2.36963 17H57.8696M2.36963 32C24.0437 32 36.1955 32 57.8696 32" stroke-width="3" stroke-linecap="round"/>
                </svg>
            </a>
        </div>

    </div>
</header>