<div class="review" id="review">
    <div class="wrapper">
        <h2 class="review__title">Отзывы</h2>
        <div class="review__inner">

            <div class="review__item">
                <div class="review__info">
                    <div class="review__col">
                        <div class="review__image">
                            <img src="images/pics/reviews/person-1.jpg" alt="review photo">
                        </div>
                    </div>
                    <div class="review__col">
                        <div class="review__name">Борис Ц.</div>
                        <div class="review__date">26.02.2025</div>
                    </div>
                    <div class="review__col">
                        <div class="review__rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="review__content">
                    <div class="review__text">Купил здесь лосося – невероятное качество! Рыба действительно свежая, вкусная и без посторонних запахов. Теперь буду покупать только здесь. Огромное спасибо за отличный сервис!</div>
                </div>
            </div>

            <div class="review__item">
                <div class="review__info">
                    <div class="review__col">
                        <div class="review__image">
                            <img src="images/pics/reviews/person-2.jpg" alt="review photo">
                        </div>
                    </div>
                    <div class="review__col">
                        <div class="review__name">Алексей Н.</div>
                        <div class="review__date">25.02.2025</div>
                    </div>
                    <div class="review__col">
                        <div class="review__rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="review__content">
                    <div class="review__text">Отличный ассортимент, всегда в наличии свежая рыба и деликатесы. Персонал всегда подскажет, что выбрать, и даст советы по приготовлению. Рекомендую всем, кто ценит качество!</div>
                </div>
            </div>

            <div class="review__item">
                <div class="review__info">
                    <div class="review__col">
                        <div class="review__image">
                            <img src="images/pics/reviews/person-3.jpg" alt="review photo">
                        </div>
                    </div>
                    <div class="review__col">
                        <div class="review__name">Михаил Ц.</div>
                        <div class="review__date">24.02.2025</div>
                    </div>
                    <div class="review__col">
                        <div class="review__rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="review__content">
                    <div class="review__text">Это лучший рыбный магазин, который я когда-либо посещал! Всегда свежая рыба, большой выбор и приветливый персонал. Особенно люблю их готовую продукцию – рыбный суп просто восхитительный!</div>
                </div>
            </div>

            <div class="review__item">
                <div class="review__info">
                    <div class="review__col">
                        <div class="review__image">
                            <img src="images/pics/reviews/person-4.jpg" alt="review photo">
                        </div>
                    </div>
                    <div class="review__col">
                        <div class="review__name">Анна Ж.</div>
                        <div class="review__date">24.02.2025</div>
                    </div>
                    <div class="review__col">
                        <div class="review__rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="review__content">
                    <div class="review__text">Долго искала магазин с хорошими морепродуктами, и наконец нашла! Пробовала у них креветки и мидии – просто объедение. А еще очень радуют доступные цены! Персонал всегда готов помочь!</div>
                </div>
            </div>

            <div class="review__item">
                <div class="review__info">
                    <div class="review__col">
                        <div class="review__image">
                            <img src="images/pics/reviews/person-5.jpg" alt="review photo">
                        </div>
                    </div>
                    <div class="review__col">
                        <div class="review__name">Борис Ц.</div>
                        <div class="review__date">26.02.2025</div>
                    </div>
                    <div class="review__col">
                        <div class="review__rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="review__content">
                    <div class="review__text">Это лучший рыбный магазин, который я когда-либо посещал! Всегда свежая рыба, большой выбор и приветливый персонал.</div>
                </div>
            </div>

            <div class="review__item">
                <div class="review__info">
                    <div class="review__col">
                        <div class="review__image">
                            <img src="images/pics/reviews/person-6.jpg" alt="review photo">
                        </div>
                    </div>
                    <div class="review__col">
                        <div class="review__name">Алексей Н.</div>
                        <div class="review__date">27.02.2025</div>
                    </div>
                    <div class="review__col">
                        <div class="review__rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="review__content">
                    <div class="review__text">Отличный ассортимент, всегда в наличии свежая рыба и деликатесы. Персонал всегда подскажет, что выбрать, и даст советы по приготовлению. Рекомендую всем, кто ценит качество!</div>
                </div>
            </div>

        </div>
    </div>
</div>