<div class="main-slider">
    <div class="main-slider__wrapper owl-carousel">
        <div class="main-slider__item">
            <img src="images/pics/slider-1.png" alt="food" class="main-slider__image">
        </div>
        <div class="main-slider__item">
            <img src="images/pics/slider-2.png" alt="food" class="main-slider__image">
        </div>
        <div class="main-slider__item">
            <img src="images/pics/slider-3.png" alt="food" class="main-slider__image">
        </div>
        <div class="main-slider__item">
            <img src="images/pics/slider-4.png" alt="food" class="main-slider__image">
        </div>
        <div class="main-slider__item">
            <img src="images/pics/slider-5.png" alt="food" class="main-slider__image">
        </div>
    </div>
    <div class="btn">
        <a href="#catalog">Больше товаров</a>
    </div>
</div>